<template>
	<q-page>
		<index-intro ref="intro"/>
		<index-description ref="description"/>
		<hr/>
		<index-team ref="team"/>
		<index-footer/>
	</q-page>
</template>

<script>
import IndexIntro from 'components/IndexIntro'
import IndexDescription from 'components/IndexDescription'
import IndexTeam from 'components/IndexTeam'
import IndexFooter from 'components/IndexFooter'

export default {
	name: 'PageIndex',
	components: {
		IndexIntro,
		IndexDescription,
		IndexTeam,
		IndexFooter
	}
}
</script>

<style lang="stylus">
hr	
	width calc(80% - 2px)
	max-width 993px
	margin 3rem auto
	height 0
	border-top 1px solid rgba(0,0,0,.1)
</style>