<template>
	<section 
		class="Features"
		:class="{ 'Features--mobile': $q.screen.lt.md }">
		<h2>{{ title }}</h2>

		<p>{{ description }}</p>

		<div class="Features__items">
			<div 
				v-for="item, index in items"
				:key="index"
				class="Features__item Item">

				<div class="Item__icon">
					<q-icon 
						:name="item.icon" 
						:style="{ color: item.color }"/>
				</div>

				<div class="Item__cotnent">
					<h4 
						class="Item__title"
						v-text="item.title"/>

					<p 
						class="Item__description"
						v-text="item.description"/>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		title: String,
		description: String,
		items: Array
	}
}
</script>

<style lang="stylus" scoped>
.Features
	&__items
		display grid
		grid-auto-flow column

	p
		color #9e9e9e

	> p
		text-align center
		margin 0 auto 3rem auto
		width 75%
		font-size 1.25rem
		font-weight 300

	&--mobile ^[0]
		&__items
			grid-auto-flow row

		> p
			width 100%

h2
	text-align center
	margin 3rem 0

.Item
	display flex
	padding 0 15px

	&__icon
		padding 0 16px
		font-size 2em

	&__title
		margin 12px 0 8px 0
		font-size 1.5rem

.FeaturesMobile
	.Features
		&__items
			grid-auto-flow row
		
		> p
			width 100%
</style>