<template>
	<section class="IndexDescription">
		<features v-bind="features"/>
	</section>
</template>

<script>
import Features from 'components/Features'

export default {
	components: {
		Features
	},
	data () {
		return {
			features: {
				title: 'Описание сервера',
				description: `
					Приветствую тебя, путник. Добро пожаловать. 
					Здесь находиться краткое описание дискорд-сервера 
					ZEN. Ссылка на который находиться ниже.
				`,
				items: [
					{
						icon: `fas fa-landmark`,
						color: `#4285f4`,
						title: `Навигация`,
						description: `
							При переходе на сервер, ознакомтесь с его описанием 
							и правилами. После этого смело приступайте к общению 
							в текстовый и/или голосовой каналах. 
						`
					},
					{
						icon: `fas fa-feather-alt`,
						color: `#ec407a`,
						title: `Особенности`,
						description: `
							Дружный, добрый и отзывчивый коллектив, уютное и комфортное 
							общения для каждого, розыгрыши и мероприятия
						`
					},
					{
						icon: `fas fa-joint`,
						color: `#8e24aa`,
						title: `О нас`,
						description: `
							Сервер ZEN рад слышать новые голоса. 
							Не желаете присоединиться к нам или просто зайти в гости? 
							Основая задача сервера - дать местечко для каждого пришедшего человека. 
							Вас ждут веселые мероприятия, отзывчивая администрация, добро и уют. 
							Присоединяйся к нам, мы ждем тебя ♡.
						`
					},
				]
			}
		}
	}
}
</script>

<style lang="stylus" scoped>
.IndexDescription
	padding 0 10px
	max-width 993px
	margin 3rem auto 
</style>