<template>
	<section class="IndexIntro">
		<q-parallax 
			:height="620">
			<template v-slot:media>
				<img 
					v-if="false"
					src="~assets/intro.jpg"/>

				<video autoplay loop muted>
					<source 
						src="~assets/animation-intro.mp4" 
						type="video/mp4">
				</video>
			</template>

			<template v-slot:content="{ percentScrolled }">
				<div
					class="absolute column items-center"
					:style="{
						top: (percentScrolled * 70) + '%',
						left: 0,
						right: 0
					}">

					<h1>Project Zen</h1>

					<hr/>

					<h5>Общение и новые знакомства</h5>

					<div class="IndexIntro__buttons">
						<q-btn
							icon="fab fa-discord"
							color="white"
							outline
							size="md"
							label="Discord"
							@click="__goDiscord"/>

						<q-btn
							icon="fab fa-vk"
							color="white"
							outline
							size="md"
							label="VK"
							@click="__goVk"/>
					</div>
				</div>
			</template>
		</q-parallax>
	</section>
</template>

<script>
export default {
	methods: {
		__goDiscord () {
			window.open(this.$t('discord'))
		},
		__goVk () {
			window.open(this.$t('vk'))
		}
	}
}
</script>

<style lang="stylus" scoped>
.IndexIntro
	color white
	text-align center
	text-transform uppercase

	&__buttons
		display grid
		grid-gap 10px
		grid-auto-flow column

h1
	letter-spacing 8px
	font-size 2.5rem
	line-height 1.2
	cursor default
	font-weight bolder
	margin 0

hr
	border 0
	border-top 3px solid #fff
	margin-top 1.5rem
	margin-bottom 1rem
	height 0
	width 80px

h5
	margin 0 0 3rem 0
	letter-spacing 3px
	font-weight 300
	font-size 1.25rem
	line-height 1.2
	cursor default
</style>

<style lang="stylus">
.q-parallax__content
	background-color rgba(0, 0, 0, .5)
</style>