<template>
	<section class="IndexDescription">
		<team v-bind="team"/>
	</section>
</template>

<script>
import Team from 'components/Team'

export default {
	components: {
		Team
	},
	data () {
		return {
			team: {
				title: 'Команда сервера',
				description: ``,
				items: [
					{
						name: `Lucifer`,
						avatar: `https://cdn.discordapp.com/avatars/460525289168961546/af3a47e79a7a1475a7d89fa8aed7cd5f.png?size=128`,
						post: `Администратор`,
						description: `Создатель группы ВК, тех. поддержка, Администратор, отвечающий за модерацию.`
					},
					{
						name: `Aloha`,
						avatar: `https://cdn.discordapp.com/avatars/550009422961836044/fec9b7fecd34e1a99ee4f698575d0eca.png?size=128`,
						post: `Администратор`,
						description: `Администратор Discord сервера, главный по внедрению новых функций в проект, а также их реализации.`
					},
					{
						name: `Mia :3`,
						avatar: `https://cdn.discordapp.com/avatars/472802746068762634/283e1cb2c2dfba8618a84a8ca9679f03.png?size=128`,
						post: `Помощник`,
						description: `Помощник сервера, отвечает за улучшения качества контента.`
					},
					{
						name: `Co3DaTeJIb_Project_ZEN`,
						avatar: `https://cdn.discordapp.com/avatars/358180037528125440/d0b003bf78e69aa2a7788aa0a1f0353c.png?size=128`,
						post: `Создатель проекта`,
						description: `Создатель проекта, по совместительству глупый человек.`
					},
				]
			}
		}
	}
}
</script>

<style lang="stylus" scoped>
.IndexDescription
	padding 0 10px
	max-width 993px
	margin 3rem auto 
</style>