<template>
	<footer>
		<div class="Footer__buttons">
			<q-btn
				icon="fab fa-discord"
				color="white"
				outline
				size="md"
				label="Discord"
				@click="__goDiscord"/>

			<q-btn
				icon="fab fa-vk"
				color="white"
				outline
				size="md"
				label="VK"
				@click="__goVk"/>
		</div>

		<div class="Footer__copy">
			&copy; 2019 Copyright: ZEN Project, morlz
		</div>
	</footer>
</template>

<script>
export default {
	methods: {
		__goDiscord () {
			window.open(this.$t('discord'))
		},
		__goVk () {
			window.open(this.$t('vk'))
		}
	}
}
</script>

<style lang="stylus" scoped>
footer
	background #1C2331

.Footer
	&__buttons
		padding 1rem 0
		display grid 
		justify-content center
		grid-gap 10px
		grid-auto-flow column



	&__copy
		text-align center
		padding 1rem 0
		background-color rgba(0, 0, 0, .2)
		color rgba(255, 255, 255, .6)
</style>