<template>
	<section 
		class="Team"
		:class="{ 'Team--mobile': $q.screen.lt.md }">
		<h2>{{ title }}</h2>

		<p>{{ description }}</p>

		<div class="Team__items">
			<div 
				v-for="item, index in items"
				:key="index"
				class="Team__item Item">

				<img 
					class="Item__avatar"
					:src="item.avatar"/>

				<h5 
					class="Item__name"
					v-text="item.name"/>

				<div 
					class="Item__post"
					v-text="item.post"/>

				<p 
					class="Item__description"
					v-text="item.description"/>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		title: String,
		description: String,
		items: Array
	}
}
</script>

<style lang="stylus" scoped>
.Team
	&__items
		display grid
		grid-template-columns repeat(auto-fit, minmax(300px, 1fr))

	p
		color #9e9e9e

	> p
		text-align center
		margin 0 auto 3rem auto
		width 75%
		font-size 1.25rem
		font-weight 300

	&--mobile ^[0]
		&__items
			grid-auto-flow row

		> p
			width 100%

h2
	text-align center
	margin 3rem 0

.Item
	padding 0 15px
	display grid
	justify-items center
	align-content start
	&__avatar
		border-radius 50%

	&__name
		font-size 1.25rem
		font-weight 700
		margin 1.5rem 0 1rem 0

	&__post
		color #2196f3
		text-transform uppercase
		margin-bottom 1rem

	&__description
		text-align center
</style>