body
	font-size 100%

blockquote
	font-size 1.25em
	line-height 1.25

#app
	font-size 1em
	line-height 1.25

$breakpoint-sm = 767px
$breakpoint-md = 991px

$font-sizes = {
	h1: 2
	h2: 1.625
	h3: 1.375
	h4: 1.125
}

$line-heights = {
	h1: 1.25
	h2: 1.15384615
	h3: 1.13636364
	h4: 1.11111111
}

for tag in keys($font-sizes)
	{tag}
		font-size-adjust 0.5
		font-size unit($font-sizes[tag], 'em')
		line-height $line-heights[tag]

@media screen and (min-width: $breakpoint-sm)
	#app
		line-height 1.375

	$font-sizes = {
		h1: 2.5
		h2: 2
		h3: 1.5
		h4: 1.125
	}

	$line-heights = {
		h1: 1.125
		h2: 1.25
		h3: 1.25
		h4: 1.22222222
	}

	for tag in keys($font-sizes)
		{tag}
			font-size-adjust 0.5
			font-size unit($font-sizes[tag], 'em')
			line-height $line-heights[tag]

@media screen and (min-width: $breakpoint-md)
	$font-sizes = {
		h1: 3
		h2: 2.25
		h3: 1.5
		h4: 1.125
	}

	$line-heights = {
		h1: 1.05
		h2: 1.25
		h3: 1.25
		h4: 1.22222222
	}

	for tag in keys($font-sizes)
		{tag}
			font-size-adjust 0.5
			font-size unit($font-sizes[tag], 'em')
			line-height $line-heights[tag]
