<template>
	<q-layout view="lHh Lpr lFf">
		<q-header 
			class="Header"
			v-scroll="__scroll"
			:class="{
				'Header--transparent': headerTransparent
			}"
			:elevated="!headerTransparent">
			<q-toolbar>
				<q-tabs :value="tab">

					<q-tab
						v-for="tab, index in tabs"
						:key="index"
						v-bind="tab"
						@click.native.stop="__clickHandler(tab.name)"/>

				</q-tabs>
			</q-toolbar>
		</q-header>

		<q-page-container>
			<page-index ref="index"/>
		</q-page-container>
	</q-layout>
</template>

<script>
import PageIndex from 'pages/Index'
export default {
	components: {
		PageIndex
	},

	data () {
		return {
			headerTransparent: true,
			tab: 'intro',
			tabs: [
				{ name: 'intro', label: 'ZEN' },
				{ name: 'description', label: 'Описание' },
				{ name: 'team', label: 'Команда' },
			],
			noScroll: false,
			timeout: null
		}
	},

	methods: {
		__scroll (pos) {
			this.headerTransparent = pos < 500

			if (this.noScroll) return

			const section = ['intro', 'description', 'team']
				.find(name => {
					const vm = this.$refs.index.$refs[name]
					const rect = vm.$el.getBoundingClientRect()
					return rect.top + rect.height > 0
				})

			if (this.tab != section)
				this.tab = section
		},

		__clickHandler (name) {
			if (this.timeout)
				clearTimeout(this.timeout)

			this.noScroll = true
			const vm = this.$refs.index.$refs[name]
			const rect = vm.$el.getBoundingClientRect()
			this.$nextTick(() => {
				window.scrollTo({
					top: window.scrollY + rect.top,
					left: 0,
					behavior: 'smooth'
				})
				
				this.timeout = setTimeout(() => {
					this.noScroll = false
				}, 3e3)
			})
			
		}
	}
}
</script>

<style lang="stylus">
.q-page-container
	padding-top 0 !important

.Header	
	transition all .2s ease-in-out
	background #1C2331
	z-index 4000
	&--transparent
		background transparent
</style>
